.todo-icon {
    position: fixed;      /* stay in place while scrolling */
    bottom: 20px;         /* distance from bottom */
    right: 20px;          /* distance from right */
    z-index: 2000;        /* keep above all content */
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: transparent;
    mix-blend-mode: darken;
}

.todo-icon-btn {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: transparent;
}

.todo-icon-img {
    height: 6rem;
    width: 6rem;
    /* border-radius: 50%; */
    border: transparent;
}

.todo-icon-btn:hover {
    cursor: pointer;
    background-color: rgb(248, 248, 248); /* optional hover effect */
}
